<!DOCTYPE html>
<html lang="en">
<head>
    <title>About Me</title>
    <style>

    </style>
</head>
<body>
    <div class="jumbotron">
        <div class="container text-center">
            <h1>About Me</h1>
            <p>Professional Experience</p>
        </div>
    </div>
    <div class="container">
        <div class="row ">
            <div class="col-md-3">
                <ul class="nav nav-pills nav-stacked">
                    <li><a href="#/AboutMe">L&T Infotech</a></li>
                    <li class="active"><a href="#/Accenture">Accenture</a></li>
                    <li><a href="#/TCS">TCS</a></li>

                </ul>
            </div>
            <div class="col-sm-9">
                <div>
                    <h3><center>Accenture</center></h3>
                    <h5>1 years and 7 months of progressive work experience in developing web and enterprise-level SharePoint applications with core SharePoint technologies: SharePoint 2010, Microsoft SharePoint Designer 2010: HTML, CSS, JavaScript and jQuery Client side frameworks.</h5>
                    <h5><span class="glyphicon glyphicon-time"></span> Post by Ajinkya, Dec 27, 2016.</h5>
                  
                        <span class="label label-warning">J Query</span>
                        <span class="label label-info">SharePoint 2010</span>
                        <span class="label label-danger">SharePoint Designer</span>
                        <span class="label label-success">Automation</span>

                </div>

            </div>
        </div>
    </div>


</body>
</html>
