<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Theme Made By www.w3schools.com - No Copyright -->
    <title>Contact</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <style>
        
    </style>
    </head>
<body>
    <div class="jumbotron">
        <div class="container text-center">
            <h1>CONTACT</h1>
           
        </div>
    </div>
    <!-- Container (Contact Section) -->
    <div id="contact" class="container bg-grey">
        <!--<h2 class="text-center">CONTACT</h2>-->
        <div class="row">
            <div class="col-sm-5 col-centered">
                <p>Leave a message and I'll get back to you.</p>
                <p><span class="glyphicon glyphicon-map-marker"></span> Atlanta, US</p>

            </div>
            <!--<div onrender="rendered()" class="fb-comments" data-href="https://www.facebook.com/photo.php?fbid=1482884508420150&set=a.636075629767713.1073741825.100000958459682&type=3&theater" data-numposts="5" data-colorscheme="light"></div>-->
            <!--<div class="col-sm-7 slideanim">
                <div class="row">
                    <div class="col-sm-6 form-group">
                        <input class="form-control" id="name" name="name" placeholder="Name" type="text" required>
                    </div>
                    <div class="col-sm-6 form-group">
                        <input class="form-control" id="email" name="email" placeholder="Email" type="email" required>
                    </div>
                </div>
                <textarea class="form-control" id="comments" name="comments" placeholder="Comment" rows="5"></textarea><br>
                <div class="row">
                    <div class="col-sm-12 form-group">
                        <button class="btn btn-default pull-right" type="submit">Send</button>
                    </div>
                </div>
            </div>-->
        </div>
    </div>
</body>
</html>
