<!DOCTYPE html>
<html lang="en">
<head>
    <title>Free Computer class/Training</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <style>

    </style>
</head>
<body>


    <div class="jumbotron">
        <div class="container text-center">
            <h1>Upcoming Projects</h1>
            <p>COMING SOON..</p>
            
        </div>
    </div>

    <div class="container-fluid bg-3 text-center">
        <h3>Online Training</h3><br>
        <p>Free Sharepoint 2013 training/help- Programming language. Online Computer training/help on programming language such as java script, angular JS, SharePoint, Depending on my schedule</p>
    <hr />    
    <div class="row">
            <div class="col-sm-3">
                <p>Angular JS</p>
                <img src="../Images/angular-jsImage.png" class="img-responsive" style="width:100%" alt="Image">
            </div>
            <div class="col-sm-3">
                <p>SharePoint 2013</p>
                <img src="../Images/SharePointImage.jpg" class="img-responsive" style="width:100%" alt="Image">
            </div>
            <div class="col-sm-3">
                <p>Basic Object Oriented Prgramming Language</p>
                <img src="../Images/OOPSImage.jpg" class="img-responsive" style="width:100%" alt="Image">
            </div>
            <div class="col-sm-3">
                <p>JSOM</p>
                <img src="../Images/HTML5_CSS_JavaScript.png" class="img-responsive" style="width:100%" alt="Image">
            </div>
        </div>
    </div><br>

    <div class="container-fluid bg-3 text-center">
        <div class="row">
            <div class="col-sm-3">
                <p>Basic Computer</p>
                <img src="../Images/BasicCompImage.jpg" class="img-responsive" style="width:100%" alt="Image">
            </div>
            <div class="col-sm-3">
                <p>COMING SOON..</p>
                <img src="https://placehold.it/150x80?text=IMAGE" class="img-responsive" style="width:100%" alt="Image">
            </div>
            <div class="col-sm-3">
                <p>COMING SOON..</p>
                <img src="https://placehold.it/150x80?text=IMAGE" class="img-responsive" style="width:100%" alt="Image">
            </div>
            <div class="col-sm-3">
                <p>COMING SOON..</p>
                <img src="https://placehold.it/150x80?text=IMAGE" class="img-responsive" style="width:100%" alt="Image">
            </div>
        </div>
    </div><br><br>

    <footer>
        <a href="#" class="fa fa-facebook"></a>
        <a href="#" class="fa fa-twitter"></a>
        <a href="#" class="fa fa-google"></a>
        <a href="#" class="fa fa-linkedin"></a>
        <a href="#" class="fa fa-youtube"></a>
        <a href="#" class="fa fa-instagram"></a>
        <p>Copyright © Ajinkya Ghag. All rights reserved.<br />Version - 1</p>
    </footer>

</body>
</html>
