<!DOCTYPE html>
<html lang="en">
<head>
    <title>Food Truck Mumbai</title>
    <style>

    </style>
</head>
<body>
    <div class="jumbotron">
        <div class="container text-center">
            <h1>Upcoming Projects</h1>
            <p>COMING SOON..</p>
        </div>
    </div>
    <div class="container">
        <div class="row ">
            <div class="col-md-3">
                <ul class="nav nav-pills nav-stacked navbar-inverse">
                    <li><a href="#/FoodTruckMumbai">Home</a></li>
                    <li class="active"><a href="#/Menu1">Menu 1</a></li>
                    <li><a href="#/Menu2">Menu 2</a></li>
                </ul>
            </div>
            <div class="col-sm-9">
                <div>
                    <h3><center>Menu 1</center></h3>
                    <h2>I want to start a food truck business in Mumbai. Need investors, staff and chef/cook</h2>
                    <h5><span class="glyphicon glyphicon-time"></span> Post by Ajinkya, Dec 27, 2016.</h5>
                    <h5><span class="label label-primary">Food</span></h5><br>

                </div>
            </div>
        </div>
    </div>

</body>
</html>
